@tailwind base;
@tailwind components;
@tailwind utilities;

/* Leaflet z-index fix inside modals */
.leaflet-pane,
.leaflet-tile,
.leaflet-marker-icon,
.leaflet-marker-shadow,
.leaflet-tile-container,
.leaflet-map-pane svg,
.leaflet-map-pane canvas,
.leaflet-zoom-box,
.leaflet-image-layer,
.leaflet-layer {
  position: absolute;
  left: 0;
  top: 0;
}

.leaflet-container {
  height: 100%;
  width: 100%;
  font-family: inherit;
}
